  .post-editor{
   margin:0 20%;
  }
  
  .post-editor-button{
      float:right;
      margin-top: 10px;
    }
	
  @media(max-width: 900px){
    .post-editor{
      margin: 1em;
    }
	
	.post-editor-button{
      float:right;
      margin-top: 10px;
    }
  }